# root dependencies
node_modules/

# app dependencies
nara-app/node_modules/

# production
nara-app/dist/
nara-app/build/

# environment variables
.env
nara-app/.env
*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system
.DS_Store
Thumbs.db
